In [ ]:
brand = {
    'name':'J.',
    'product':'Bags',
    'price':40000
}
brand['product']

'Bags'

In [ ]:
brand = {
    'name':'J.',
    'product':'Bags',
    'price':[45000,98000,78900,567890]
}
len(brand)
type(brand)

dict

In [ ]:
brand = {
    'name':'J.',
    'product':'Bags',
    'price':[45000,98000,78900,567890]
}
brand['price']

[45000, 98000, 78900, 567890]

In [ ]:
Brand = dict(name = "J.", product = "Shalwar kameez", category = "male & female")
Brand['category']

'male & female'

In [ ]:
Brand['category'] = 'unisex'
Brand

{'name': 'J.', 'product': 'Shalwar kameez', 'category': 'unisex'}

In [ ]:
Brand

{'name': 'J.', 'product': 'Shalwar kameez', 'category': 'unisex'}

In [ ]:
Brand.update({'product':"pant shirts"})
Brand

{'name': 'J.', 'product': 'pant shirts', 'category': 'unisex'}

In [ ]:
Brand["price"] = 9999
Brand

{'name': 'J.', 'product': 'pant shirts', 'category': 'unisex', 'price': 9999}

In [ ]:
Brand.pop('category')
Brand

KeyError: 'category'

In [ ]:
Brand.popitem()
Brand

{'name': 'J.', 'product': 'pant shirts'}

In [ ]:
del Brand
Brand

NameError: name 'Brand' is not defined

In [ ]:
Brand = dict(name = "J.", product = "Shalwar kameez", category = "male & female")
Brand['category'] = 'unisex'
Brand
Brand.update({'product':"pant shirts"})
Brand["price"] = 9999
Brand

{'name': 'J.', 'product': 'pant shirts', 'category': 'unisex', 'price': 9999}

In [ ]:
for b in Brand:
  print(Brand[b])

J.
pant shirts
unisex
9999

In [ ]:
for b,value in Brand.items():
  print(b,value)

name J.
product pant shirts
category unisex
price 9999

In [ ]:
for b in Brand.values():
  print(b)

J.
pant shirts
unisex
9999

In [ ]:
for b in Brand.items():
  print(b)

('name', 'J.')
('product', 'pant shirts')
('category', 'unisex')
('price', 9999)

In [ ]:
for b in Brand.keys():
  print(b)

name
product
category
price

In [ ]:
Brand.items()

dict_items([('name', 'J.'), ('product', 'pant shirts'), ('category', 'unisex'), ('price', 9999)])

In [ ]:
Brand.values()

dict_values(['J.', 'pant shirts', 'unisex', 9999])

In [ ]:
Brand.keys()

dict_keys(['name', 'product', 'category', 'price'])

In [ ]:
newbrand = brand.copy()
newbrand

{'name': 'J.', 'product': 'Bags', 'price': [45000, 98000, 78900, 567890]}

In [ ]:
oldbrand = Brand.copy()
oldbrand

{'name': 'J.', 'product': 'pant shirts', 'category': 'unisex', 'price': 9999}

In [ ]:
newbrand.update(oldbrand)
newbrand

{'name': 'J.', 'product': 'pant shirts', 'price': 9999, 'category': 'unisex'}

In [47]:
student ={
    "std1":{
      "name":"Sam",
      "age": 16,
      "Class":5
    },
    "std2":{
      "name":"lois",
      "age":15,
      "Class":9
    },
    "std3":{
      "name":"Nathan",
      "age":18,
      "Class":5
    }
}
student["std2"]["name"]

'lois'

In [50]:
std1 = {
      "name":"Sam",
      "age": 16,
      "Class":5
    }
std2 = {
      "name":"lois",
      "age":15,
      "Class":9
      }
std3 = {
      "name":"Nathan",
      "age":18,
      "Class":5
    }
school ={
      'student1':std1,
      "student2":std2,
      "student3":std3
  }
school["student1"]["age"]

16

In [64]:
for x ,obj in school.items():
  print(x )
  for y in obj:
    print('\t'+y +':',obj[y])

student1
	name: Sam
	age: 16
	Class: 5
student2
	name: lois
	age: 15
	Class: 9
student3
	name: Nathan
	age: 18
	Class: 5

In [65]:
del Brand

In [67]:
product_1 = {
    "name":"Bags",
    'code':2154,
    "sold":5590
}
product_2 = {
    "name":"slippers",
    'code':2155,
    "sold":58850
}
product_3 = {
    "name":"sweaters",
    'code':2156,
    "sold":5550
}
product_4 = {
    "name":"scarfs",
    'code':2157,
    "sold":5520
}
product_5 = {
    "name":"nails",
    'code':2158,
    "sold":5500
}
Brand ={
    "product1":product_1,
    "product2":product_2,
    "product3":product_3,
    "product4":product_4,
    "product5":product_5
}
Brand

{'product1': {'name': 'Bags', 'code': 2154, 'sold': 5590},
 'product2': {'name': 'slippers', 'code': 2155, 'sold': 58850},
 'product3': {'name': 'sweaters', 'code': 2156, 'sold': 5550},
 'product4': {'name': 'scarfs', 'code': 2157, 'sold': 5520},
 'product5': {'name': 'nails', 'code': 2158, 'sold': 5500}}

In [68]:
for a , po in Brand.items():
  print(a)
  for b in po:
    print("\t"+ b +":",po[b])

product1
	name: Bags
	code: 2154
	sold: 5590
product2
	name: slippers
	code: 2155
	sold: 58850
product3
	name: sweaters
	code: 2156
	sold: 5550
product4
	name: scarfs
	code: 2157
	sold: 5520
product5
	name: nails
	code: 2158
	sold: 5500