Q1. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

Hint:

Ask the user for a number between 1 and 10 .
Use a for loop to iterate through the numbers from 1 to 10.
For each iteration, calculate the product of the given number and the current number in the loop.
Print the result in a readable format (e.g., 5 x 1 = 5).
Ensure the program works correctly for any number between 1 and 10.
Output Hint:

- 4 x 1 = 4
- 4 x 2 = 8
- 4 x 3 = 12
- 4 x 4 = 16
- 4 x 5 = 20
- 4 x 6 = 24
- 4 x 7 = 28
- 4 x 8 = 32
- 4 x 9 = 36
- 4 x 10 = 40

In [ ]:
n = int(input("Enter a number for table  "))

for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Enter a number for table  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Q2. Stop sending emails after 3 users (Using for loop and break)

users = ["Ali", "Sara", "John", "Zara", "Mike"]

Output:

Email sent to Ali

Email sent to Sara

Email sent to John

Limit reached. Stop sending emails.

In [ ]:
users = ["Ali", "Sara", "John", "Zara", "Mike"]
for user in range(len(users)):
  if user == 3:
    print("limited reached.Stop sending emails")
    break
  print(f"Email sent to {users[user]}")

Email sent to Ali
Email sent to Sara
Email sent to John
limited reached.Stop sending emails

Q3. Stop monitoring temperature if critical temperature reached (Using for loop and break)

temps = [22, 25, 30, 45, 28]
critical = 40

Ouput:

Temperature: 22

Temperature: 25

Temperature: 30

Critical temperature reached! Stop monitoring.

In [ ]:
temps = [22, 25, 30, 45, 28]
Critical = 40
for i in temps:
  if i >= Critical:
    print("Critical temperature reached! Stop monitoring")
    break
  print(f"Temperature {i}")

Temperature 22
Temperature 25
Temperature 30
Critical temperature reached! Stop monitoring

Q4. Calculate total price of items in a shopping cart (Using For loop)

cart = [100, 250, 50, 300]

Output:

Total Price: 700

In [ ]:
cart = [100, 250, 50, 300]
total =0
for num in  cart:
  total += num
print("Total price : ",total)

Total price :  700

Q5. Skip customers with unpaid bills (Using For loop and continue)

customers = [
    {"name": "Ali", "paid": True},
    
    {"name": "Sara", "paid": False},
    
    {"name": "John", "paid": True}
]


Output:

Access granted to: Ali

Access granted to: John

In [1]:
customers = [
    {"name": "Ali", "paid": True},
    {"name": "Sara", "paid": False},
    {"name": "John", "paid": True}
]

for customer in customers:
    if not customer["paid"]:
        continue
    print(f"Access granted to: {customer['name']}")

Access granted to: Ali
Access granted to: John

Q6. Send personalized emails to a list of users (Using for loop)

users = ["Ali", "Sara", "John"]

Output:

- Hello Ali, your subscription is active!
- Hello Sara, your subscription is active!
- Hello John, your subscription is active!

In [2]:
users = ["Ali", "Sara", "John"]

for user in users:
    print(f"Hello {user}, your subscription is active!")

Hello Ali, your subscription is active!
Hello Sara, your subscription is active!
Hello John, your subscription is active!

Q7. Extract domain names from email list (Using for loop)

emails = ["ali@gmail.com", "sara@yahoo.com", "john@hotmail.com"]

Output:

domains: ['gmail.com', 'yahoo.com', 'hotmail.com']

In [3]:
emails = ["ali@gmail.com", "sara@yahoo.com", "john@hotmail.com"]
domains = []

for email in emails:
    domain = email.split('@')[1]  # Splits the email and takes the part after '@'
    domains.append(domain)        # Adds the domain to the list

print("domains:", domains)

domains: ['gmail.com', 'yahoo.com', 'hotmail.com']

Q8. Print only overdue tasks (Using for loop)

tasks = [
    {"task": "Pay bills", "status": "done"},
    
    {"task": "Submit report", "status": "pending"},
    
    {"task": "Clean house", "status": "pending"}
]


Ouput:

Overdue: Submit report

Overdue: Clean house

In [5]:
tasks = [
    {"task": "Pay bills", "status": "done"},
    {"task": "Submit report", "status": "pending"},
    {"task": "Clean house", "status": "pending"}
]

for task in tasks:
    if task["status"] == "pending":
        print(f"Overdue: {task['task']}")

Overdue: Submit report
Overdue: Clean house

Q9. Extract names of employees with salary above 50,000

employees = [
    {"name": "Ali", "salary": 60000},
    
    {"name": "Sara", "salary": 45000},
    
    {"name": "John", "salary": 70000}
]


Output:

Ali earns above 50,000

John earns above 50,000

In [6]:
employees = [
    {"name": "Ali", "salary": 60000},
    {"name": "Sara", "salary": 45000},
    {"name": "John", "salary": 70000}
]

for employee in employees:
    if employee["salary"] > 50000:
        print(f"{employee['name']} earns above 50,000")

Ali earns above 50,000
John earns above 50,000

Q10. Skip weekends while printing workdays (Using for loop and continue)

days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

Output:

Workday: Monday

Workday: Tuesday

Workday: Wednesday

Workday: Thursday

Workday: Friday

In [7]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days:
    if day == "Saturday" or day == "Sunday":
        continue  # Skip weekends
    print(f"Workday: {day}")

Workday: Monday
Workday: Tuesday
Workday: Wednesday
Workday: Thursday
Workday: Friday