Q1. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

• Add a new product (e.g., "Smartphone")

Expected Output:

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [27]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
            102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
            103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
products [102] ["stock"] += 50
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

Q2. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output:
['apple', 'grape', 'banana', 'orange']

In [26]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_shoopping_list = list(set(shopping_list))
unique_shoopping_list.sort()
unique_shoopping_list

['apple', 'banana', 'grape', 'orange']

Q3. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

In [24]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
course_a.difference(course_b)

{'Bob', 'John'}

In [25]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
course_a ^ course_b

{'Bob', 'Charlie', 'Eve', 'John'}

Q4. Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

In [23]:
Book_info1 = input("what's the title of the book")
Book_info2 = input("Gives it's Author's name")
Book_info3 = input("what's the year of publication")
Book_info4 = input("what's the price of the book")
book_info = (Book_info1, Book_info2, Book_info3, Book_info4)
print("\nTitle :", book_info[0])
print("Author : ", book_info[1])
print("Year of Publication :", book_info[2])
print("Price : ", str(book_info[3]))

what's the title of the bookharry potter
Gives it's Author's namejk rowling
what's the year of publication2000
what's the price of the book$180.0

Title : harry potter
Author :  jk rowling
Year of Publication : 2000
Price :  $180.0

Q5. Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in:  art

art is available.

In [22]:
subject = input("""subjects[Arts,sciology,criminology,Macroecnonomy]\n
Enter the subject you're interested """).lower()
if subject in ["arts", "sciology", "criminology", "Macroecnonomy"]:
  print(subject, "is available")
else:
  print(subject, "is not available")

subjects[Arts,sciology,criminology,Macroecnonomy]

Enter the subject you're interested arts
arts is available

Q6. Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive".

If the number is less than 0, print "Negative".

If the number is exactly 0, print "Zero".

Expected Output:

Enter a number:  2

The number is Positive

---

Enter a number:  0

The number is Zero

---

Enter a number:  -1

The number is Negative

In [18]:
user = int(input("enter a number: "))
if user > 0:
  print("Positive")
elif user < 0:
  print("Negative")
elif user == 0:
  print("Zero")
else:
  print("Invalid input")

enter a number: -9
Negative

Q7. Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

- If both username and password are correct → print "Login Successful".

- If username is wrong but password is correct → print "Invalid Username".

- If username is correct but password is wrong → print "Invalid Password".

- If both username and password are wrong → print "Invalid Username and Password".

In [16]:
user = input("Enter your username")
password = input("Enter your password")
if user == "admin" and password == "admin@123":
  print("Login Successful")
elif user != "admin" and password == "admin@123":
  print("Invalid Username")
elif user == "admin" and password != "admin@123":
  print("Invalid Password")
else:
  print("Invalid Username and Password")

Enter your usernameADMIN
Enter your passwordadmin
Invalid Username and Password

Q8.

student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

- Add a new student using method:
  "Zara": {"age": 20, "grade": "B", "city": "Multan"}

- Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 9'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

Q9. Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age:  22

Enter your credit score:  888

Enter your annual income: $ 800000

You are eligible for the loan!

---

Enter your age:  15

Enter your credit score:  800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

---

Enter your age:  35

Enter your credit score:  99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

In [14]:
age = int(input("""Eligibility for a loan
Enter your age:
"""))
score =int(input("Enter your credit score: "))
income = int(input("Enter your annual income: $ "))
if age >= 18 and income >= 30000 and score >= 650:
  print("You are eligible for the loan!")
elif age < 18:
  print("You are not eligible for the loan due to age.")
elif score < 650:
  print("You are not eligible for the loan due to low credit score.")
elif income >=30000:
  print("You are not eligible for the loan due to low income.")
elif (income >=25000 and score > 650) or (score >= 700 and income <25000):
  print("You are  eligible for the loan ")
else:
        print("You are not eligible for the loan")

Eligibility for a loan
Enter your age:
22
Enter your credit score: 88
Enter your annual income: $ 80000
You are not eligible for the loan due to low credit score.

In [15]:
age = int(input("""Eligibility for a loan
Enter your age:
"""))
score =int(input("Enter your credit score: "))
income = int(input("Enter your annual income: $ "))
if age >= 18 and income >= 30000 and score >= 650:
  print("You are eligible for the loan!")
elif age < 18:
  print("You are not eligible for the loan due to age.")
elif score < 650:
  print("You are not eligible for the loan due to low credit score.")
elif income >=30000:
  print("You are not eligible for the loan due to low income.")
elif (income >=25000 and score > 650) or (score >= 700 and income <25000):
  print("You are  eligible for the loan ")
else:
        print("You are not eligible for the loan")

Eligibility for a loan
Enter your age:
15
Enter your credit score: 800
Enter your annual income: $ 90000
You are not eligible for the loan due to age.

Q10. Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter:  a

a is a Vowel

---

Enter a single letter:  E

E is a Vowel

---

Enter a single letter:  z

z is a Consonant

---

Enter a single letter:  7

Please enter valid alphabet

In [13]:
letter = input("Enter a single letter: ")

if len(letter) != 1 or not letter.isalpha():
    print("Please enter valid alphabet")
elif letter.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(f"{letter} is a Vowel")
else:
    print(f"{letter} is a Consonant")

Enter a single letter: 22
Please enter valid alphabet

In [11]:
letter = input("Enter a single letter: ")

if len(letter) != 1 or not letter.isalpha():
    print("Please enter valid alphabet")
elif letter.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(f"{letter} is a Vowel")
else:
    print(f"{letter} is a Consonant")

Enter a single letter: 7
Please enter valid alphabet